.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.login-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.login-logo {
  text-decoration: none;
}
.login-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.login-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.login-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.login-login {
  margin-right: 32px;
  text-decoration: none;
}
.login-register {
  text-decoration: none;
}
.login-burger-menu {
  display: none;
}
.login-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.login-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.login-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.login-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.login-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.login-nav12 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-nav22 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-nav32 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-nav42 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-nav52 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.login-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.login-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.login-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.login-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.login-hero1 {
  height: 868px;
  display: flex;
  background-color: #eaeaea;
}
.login-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.login-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
.login-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.login-form {
  width: 628px;
  height: 303px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: 30px;
  justify-content: center;
  background-color: #ffffff;
}

.login-text14 {
  top: 40px;
  left: 40px;
  right: 40px;
  position: absolute;
  font-size: 40px;
  align-self: flex-start;
  text-align: center;
  font-family: "Oxygen";
}
.login-textinput {
  top: 180px;
  left: 48px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.login-textinput1 {
  top: 120px;
  left: 48px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.login-button {
  top: 250px;
  left: 48px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  border-width: 0px;
  border-radius: 10px;
  background-color: #e0e0e0;
}

.login-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.login-logo2 {
  text-decoration: none;
}
.login-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.login-nav121 {
  text-decoration: none;
}
.login-nav321 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.login-nav421 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.login-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.login-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.login-icon-group1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .login-hero1 {
    flex-direction: column;
  }
  .login-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .login-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .login-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .login-desktop-menu {
    display: none;
  }
  .login-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-nav12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-nav22 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-nav32 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-nav42 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-nav52 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .login-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .login-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .login-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .login-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .login-text15 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .login-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .login-mobile-menu1 {
    padding: 16px;
  }
  .login-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .login-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-btn-group {
    flex-direction: column;
  }
  .login-textinput {
    left: 120px;
  }
  .login-textinput1 {
    left: 120px;
  }
  .login-button {
    left: 120px;
  }
  .login-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .login-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .login-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .login-text15 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
