.to-do-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.to-do-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.to-do-navbar-interactive {
  background-color: #eaeaea;
}
.to-do-logo {
  text-decoration: none;
}
.to-do-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.to-do-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.to-do-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.to-do-login {
  margin-right: 32px;
  text-decoration: none;
}
.to-do-register {
  text-decoration: none;
}
.to-do-burger-menu {
  display: none;
}
.to-do-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.to-do-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.to-do-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.to-do-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.to-do-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.to-do-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.to-do-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.to-do-nav12 {
  margin-bottom: var(--dl-space-space-unit);
}
.to-do-nav22 {
  margin-bottom: var(--dl-space-space-unit);
}
.to-do-nav32 {
  margin-bottom: var(--dl-space-space-unit);
}
.to-do-nav42 {
  margin-bottom: var(--dl-space-space-unit);
}
.to-do-nav52 {
  margin-bottom: var(--dl-space-space-unit);
}
.to-do-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.to-do-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.to-do-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.to-do-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.to-do-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.to-do-hero1 {
  height: 935px;
  position: relative;
  background-color: #eaeaea;
}
.to-do-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.to-do-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.to-do-form {
  width: 1241px;
  height: 609px;
  display: flex;
  position: relative;
}
.to-do-textarea {
  top: 0px;
  left: 0px;
  width: 235px;
  height: 48px;
  margin: 100px;
  position: absolute;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: auto;
  border-width: 0px;
  margin-right: auto;
  margin-bottom: auto;
  background-color: #ffffff;
}
.to-do-textarea1 {
  top: 0px;
  left: 0px;
  width: 1140px;
  height: 87px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: 75px;
  margin-left: 100px;
  border-width: 0px;
}
.to-do-button {
  top: 0px;
  left: 0px;
  width: 132px;
  height: 59px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: 190px;
  margin-left: 100px;
  border-width: 0px;
}
.to-do-ul {
  left: 0px;
  right: 0px;
  width: 1106px;
  bottom: 0px;
  height: 331px;
  position: absolute;
  margin-left: 75px;
}
.to-do-text3 {
  top: 0px;
  left: 625px;
  position: absolute;
  font-size: 80px;
  align-self: center;
  font-family: "Oxygen";
  padding-top: 50px;
}
.to-do-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.to-do-footer1 {
  background-color: #eaeaea;
}
.to-do-container2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.to-do-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.to-do-nav121 {
  text-decoration: none;
}
.to-do-nav321 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.to-do-nav421 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.to-do-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.to-do-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.to-do-icon-group1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 1200px) {
  .to-do-textarea1 {
    width: 1040px;
  }
  .to-do-text3 {
    left: 450px;
    right: 0px;
    margin: auto;
  }
}
@media(max-width: 991px) {
  .to-do-hero1 {
    flex-direction: column;
  }
  .to-do-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .to-do-form {
    width: 991px;
  }
  .to-do-textarea {
    margin-left: 75px;
  }
  .to-do-textarea1 {
    width: 774px;
    height: 128px;
    margin: 75px;
  }
  .to-do-button {
    top: 250px;
    margin-top: 0px;
    margin-left: 75px;
  }
  .to-do-text3 {
    top: 0px;
    left: 300px;
    right: 0px;
    margin: auto;
    font-size: 80px;
    font-family: Oxygen;
  }
}
@media(max-width: 767px) {
  .to-do-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .to-do-desktop-menu {
    display: none;
  }
  .to-do-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .to-do-nav12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .to-do-nav22 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .to-do-nav32 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .to-do-nav42 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .to-do-nav52 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .to-do-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .to-do-form {
    width: 767px;
    height: 949px;
  }
  .to-do-textarea {
    top: 20px;
  }
  .to-do-textarea1 {
    width: 622px;
    height: 101px;
  }
  .to-do-text3 {
    left: 200px;
    margin: auto;
  }
  .to-do-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .to-do-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .to-do-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .to-do-text6 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .to-do-container {
    background-color: #eaeaea;
  }
  .to-do-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .to-do-mobile-menu1 {
    padding: 16px;
  }
  .to-do-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .to-do-container1 {
    height: 518px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .to-do-btn-group {
    flex-direction: column;
  }
  .to-do-form {
    width: 479px;
    height: 2248px;
    padding-bottom: 0px;
  }
  .to-do-textarea {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 317px;
    height: 59px;
    margin: auto;
  }
  .to-do-textarea1 {
    top: 75px;
    left: 0px;
    right: 0px;
    width: 365px;
    height: 208px;
    margin: auto;
  }
  .to-do-button {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }
  .to-do-text3 {
    top: 0px;
    left: 80px;
    right: 0px;
    margin: auto;
    font-size: 80px;
    font-family: Oxygen;
  }
  .to-do-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .to-do-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .to-do-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .to-do-text6 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
